<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{{url_for ('static', filename='./css/style.css')}}" rel="stylesheet">
	<title>Login</title>
</head>
<body>

<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action=/registro method="post">
			<h1>Crear Cuenta</h1>
			<br>
			<input type="text" placeholder="Usuario" name="usuario" />
			<input type="text" placeholder="Nombre" name="nombre" />
			<input type="text" placeholder="Apellido" name="apellido" />
			<input type="email" placeholder="Email" name="email" />
			<input type="tel" placeholder="Telefono" name="telefono" />
			<input type="password" placeholder="Clave" name="clave" />
			<br>
			<button type="submit" name="registro">Registrar</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action=/inicio method="post">
			<h1>Iniciar Sesion</h1>
			<br>
			<input type="text" placeholder="Nombre" name="name" />
			<input type="password" placeholder="Clave" name="pass"/>
			<br>
			<button type="submit" name="ingresar">Ingresar</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Bienvenido</h1>
				<p>Para mantenerse conectado con nosotros, inicie sesión con su información personal</p>
				<button class="ghost" id="signIn">Iniciar Sesion</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Querido Usuario</h1>
				<p>Ingresa tus datos personales y comienza tu viaje con nosotros</p>
				<button class="ghost" id="signUp">Registrarse</button>
			</div>
		</div>
	</div>
</div>

<script src="{{url_for ('static', filename='./js/main.js')}}"></script>
	
</body>
</html>